<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>The Site</title>
    </head>
    <body>

        <h1>Welcome to the Site!</h1>
        <p>Please select a link to use the site.</p>
        <ul>
            <li><a href="/register">Register a new user</a></li>
            <li><a href="/login">Log in to the Site</a></li>
            <li><a href="/messages">See messages</a></li>
            <li><a href="/post">Post a message</a></li>
        </ul>

    </body>
</html>
