<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>The Site</title>
    </head>
    <body>

        <h1>Welcome to the Site!</h1>
        <p>Please select a link to use the site.</p>
        <ul>
            <li><a href="/register">Register a new user</a></li>
            <li><a href="/login">Log in to the Site</a></li>
            <li><a href="/reset">Forgotten password?</a></li>
            <li><a href="/post">Post a message (need to be logged in)</a></li>
        </ul>
        
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Post by</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="post : ${posts}">
                        <td><span th:utext="${post.username}">Post by</span></td>
                        <td><span th:utext="${post.message}">Post by</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </body>
</html>
