<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>The Site</title>
    </head>

    <body>
        <div><a href="/default">Back</a></div>

        <h1>Log in</h1>

        <form action="#" th:action="@{/login}" method="POST">
            <p><label for="username">Username</label>: <input type="utext" name="username" id="name"/></p>
            <p><label for="password">Password</label>: <input type="utext" name="password" id="address"/></p>
            <p><input type="submit" value="Log in" /></p>
        </form>
        <p>If you forgot your password, please put in your username and your month of birth here to change your password.</p>
        <form action="#" th:action="@{/edit}" method="POST">
            <p><label for="username">Username</label>: <input type="utext" name="username" id="name"/></p>
            <p><label for="month">Month of birth</label>: <input type="utext" name="month" id="month"/></p>
            <p><input type="submit" value="Log in" /></p>
        </form>
        
    </body>
</html>
