<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>The Site</title>
    </head>
    <body>
        <div><a href="/default">Back</a></div>

        <h1>Post a new message</h1>

        <form action="#" th:action="@{/post}" method="POST">
            <p><label for="message">Message</label>: <input type="text" name="message" id="message"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
    </body>
</html>
